<div class="titleBar titleBarStyle {{theme}}">
  <div class="windowTitle draggable preventSelect">
    <chat-avatar class="zeechaticon" [image]="operator.avatar"></chat-avatar>
  </div>
  <div fxHide.xs fxHide.gt-xs class="theme_selector_container_box">
    <mat-button-toggle-group #group="matButtonToggleGroup" class="theme_switcher_group"> 
      <mat-button-toggle *ngFor="let toggle of toggleTheme"  class="{{toggle.selectedClass}}"  [disabled]="toggle.disabled"  (change)="themeSelectionEvent($event)" [value]="toggle.colour">
          {{toggle.colour}}
      </mat-button-toggle>
    </mat-button-toggle-group>
 
    <!-- <h3 class="operator-name">
    {{operator.name}} -->
      <!-- <span class="noti"><i class="fa fa-bell-o" aria-hidden="true" (click)="openDialog()"></i></span> -->
    <!-- </h3> -->
  </div>
  <div class="windowControls windowControlsStyle preventSelect">
    <div class="profile-buttons">
      <div class="chat-profile" *ngIf="isMenuVisible" (click)="toggleMenu()">{{shortName}}</div>
      <button id="minimise" (click)="onMinimize()"> <i class="fa fa-window-minimize m-b-7"></i> </button>
      <button id="maximise">
        <span *ngIf="isMaximized" (click)="onMaximizeOrRestore()"><i class="fa fa-window-restore"
            aria-hidden="true"></i></span>
        <span *ngIf="!isMaximized" (click)="onMaximizeOrRestore()"><i class="fa fa-window-maximize"
            aria-hidden="true"></i></span>
      </button>
      <button id="quit" (click)="onExit()"> <i class="fa fa-times"></i> </button>
    </div>
    <div class="profile-dropdown" *ngIf="menuState">
      <a (click)="openHelp('https://athena.speridian.com/assets/files/desktop/S3PO-User-Guide.pdf')" title="help" class="profile-text">Help</a>
      <a (click)="onSignOut()">Sign Out</a>
    </div>
  </div>
</div>